<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UpFile</servlet-name>
        <servlet-class>com.xcyg.fileHandel.UpFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownFile</servlet-name>
        <servlet-class>com.xcyg.fileHandel.DownFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFile</servlet-name>
        <servlet-class>com.xcyg.fileHandel.GetFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpFile</servlet-name>
        <url-pattern>/UpFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownFile</servlet-name>
        <url-pattern>/DownFile</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
